Pipeline/DATA/MASTER/NM03E302DOa.dat
Pipeline/DATA/MASTER/NM03E302DOb1.dat
Pipeline/DATA/MASTER/NM03E302DOb1Corr.dat
Pipeline/DATA/MASTER/NM03E302DOb2.dat
Pipeline/DATA/MASTER/NM03E302DOb2Corr.dat
Pipeline/DATA/MASTER/NM03E302DOc1.dat
Pipeline/DATA/MASTER/NM03E302DOc1Corr.dat
Pipeline/DATA/MASTER/NM03E302DOc2.dat
Pipeline/DATA/MASTER/NM03E302DOc2Corr.dat
Pipeline/DATA/MASTER/NM03E302Ta.dat
Pipeline/DATA/MASTER/Explicación_Files_sent.xlsx
Pipeline/DATA/MASTER/Diccionario de datos.gsheet
Pipeline/desktop.ini
Pipeline/DATA/desktop.ini
Pipeline/DATA/CLEAN/desktop.ini
desktop.ini
Pipeline/DATA/CLEAN/df_clean.csv
Pipeline/DATA/CLEAN/df_flux_clean.csv
Pipeline/DATA/CLEAN/df_flux_master.csv
Pipeline/DATA/CLEAN/qc.csv
Pipeline/DATA/MASTER/orbital_velocity.xlsx
Pipeline/DATA/MASTER/wave_SIMAR.xlsx
Pipeline/DATA/PROCESSED/df_classified.csv
Pipeline/DATA/PROCESSED/df_features.csv
Pipeline/DATA/PROCESSED/df_flux.csv
Pipeline/DATA/PROCESSED/df_wave.csv
Pipeline/DATA/RAW/df_master.csv
Pipeline/DATA/desktop.ini
Pipeline/DATA
Pipeline/desktop.ini